@font-face {
  font-family: "Geometria";
  src: local("Geometria"),
      url("~@/fonts/geometria.woff2") format("woff2"),
      url("~@/fonts/geometria.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Geometria";
  src: local("Geometria Medium"),
      url("~@/fonts/geometria-medium.woff2") format("woff2"),
      url("~@/fonts/geometria-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}


@font-face {
  font-family: "Geometria";
  src: local("Geometria Bold"),
      url("~@/fonts/geometria-bold.woff2") format("woff2"),
      url("~@/fonts/geometria-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
