body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  @include media-breakpoint-down(sm) {
    font-size: .875rem;
    line-height: (18/14);
  }
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  margin-bottom: 20px;

  @include media-breakpoint-up(lg) {
    margin-bottom: 30px;
  }
}
